<form id="file_info_form" action="/settings" method="post">
    <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Node Name</label>
                    {{ form_widget(form.nodename,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Blend Path</label>
                    {{ form_widget(form.blendpath,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Application Path</label>
                    {{ form_widget(form.applicationpath,{'attr':{'class':'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>

<script>
    $(function() {
        // bind 'myForm' and provide a simple callback function
        $('#file_info_form').ajaxForm(function() {
            $('#file_dialog').modal('hide');
            reload('upload_list');
        });
    });
</script>